body, h1, p, ul, li, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navigation */
.navigation {
    background-color: #333;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.nav-list li a {
    padding: 10px 15px;
    display: block;
    color: white;
}

.nav-list li a:hover {
    background-color: #555;
}

/* Home */
.home__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
    background: #fff;
    background-image: url(./images/cafe.jpg);
    background-size: cover;
    height: 100vh;
    background-position: 100%;
}

.home__header h1 {
    color: white;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.home__header p {
    color: white;
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 150px;
    margin: 10px auto;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

/* Menu */
.menu__header {
    background: #fff;
    padding: 20px 0;
    text-align: center;
}

.menu__list {
    background: #fff;
    list-style-type: none;
}

.menu__list li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.menu__list img {
    margin-right: 20px;
    width: 100px;
    height: auto;
    object-fit: cover;
}

/* Responsiveness */
@media (min-width: 768px) {
    .nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@media (max-width: 320px) {
    .home__header h1 {
        font-size: 2em;
    }

    .home__header p {
        font-size: 1em;
    }

    button {
        width: 100px;
        padding: 8px;
    }
}
