<!DOCTYPE html>
<html>
<head>
    <title>Ryan's Cafe - Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="menu">
        <nav class="navigation">
            <ul class="nav-list" {% if nav_open or screen_width >= 768 %}style="display: block;"{% endif %}>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>

        <div class="menu__header">
            <h1>Our Menu</h1>
            <ul class="menu__list">
                {% for item in items %}
                <li>
                    {% if 'image' in item %}
                        <img src="{{ url_for('static', filename=item.image) }}" alt="{{ item.name }}" width="100">
                    {% endif %}
                    {{ item.name }} - {{ item.price }}
                </li>static/css/images/espresso.jpg
            {% endfor %}
            
            </ul>
            
            
        </div>
    </div>

</body>

</html>
