<!DOCTYPE html>
<html>
<head>
    <title>Ryan's Cafe - Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <!-- Menu -->
    <div class="menu">
        <nav class="navigation">
            <ul class="nav-list" {% if nav_open or screen_width >= 768 %}style="display: block;"{% endif %}>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>

        <!-- Header -->
        <div class="menu__header">
            <h1>Our Menu</h1>

            <h2>Drinks</h2>
            <ul class="menu__list">
                {% for item in drink %}
                <li onclick="openModal('{{ item.name }}', '{{ item.description }}', '{{ item.price }}')">
                    <div class="menu__item-name">{{ item.name }}</div>
                    <div class="menu__item-price">{{ item.price }}</div>
                </li>
                {% endfor %}
            </ul>

            <h2>Pastries</h2>
            <ul class="menu__list">
                {% for item in drink %}
                <li onclick="openModal('{{ item.name }}', '{{ item.description }}', '{{ item.price }}')">
                    <div class="menu__item-name">{{ item.name }}</div>
                    <div class="menu__item-price">{{ item.price }}</div>
                </li>
                {% endfor %}
            </ul>            
        </div>

        <!-- Menu Modal -->
        <div class="modal" id="itemModal">
            <div class="modal-content">
                <h2 id="modalItemName">Item Name</h2>
                <p id="modalItemDescription">Item Description Here...</p>
                <div class="modal__item-price" id="modalItemPrice">$0.00</div>
                <button id="addToCartBtn">Add to Cart</button>
            </div>
            <span class="close-modal">&times;</span>
        </div>

    </div>

</body>

</html>
